@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.flex-container{
  display: flex;
  flex-direction: column;
  /* shifts items on main axis */
  justify-content: center; /* flex-end, center, space-between */
  align-items: center;
  /* align items on cross axis */
  flex-wrap: wrap;
}

.iphone {
  background: #000;
  border-radius: 30px;
  width: 375px; 
  height: 812px; 
  overflow: hidden;
  display: flex;
  justify-content: center; 
  align-items: center; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.screen {
  background: #001c38;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.notifications {
  position: absolute;
  top: 20px;
  right: 30px;
  left: 30px;
}

.notification {
  display: flex;
  align-items: center;
  background: #d2e4ff;
  color: #202a3adc;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  opacity: 0;
  transform: translateY(-100%);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.notification:hover {
  transform: translateY(-10px); 
}

.notification.active {
  opacity: 1;
  transform: translateY(0);
}

.notification img {
  width: 50px; 
  height: auto;
  margin-right: 10px;
}

.special-notification {
  background-color: #ffa229; 
  color: #ffffff; 
  font-weight: bold;
}

#notif4 {
  background-color: #ff2929; 
  color: #ffffff; 
  font-weight: bold;
}

.hidden-box {
  display: none;
}

@keyframes chaotic-move {
  0% {
      transform: translate(0, 0);
  }
  25% {
      transform: translate(30px, -20px);
  }
  50% {
      transform: translate(-20px, 50px);
  }
  75% {
      transform: translate(-20px, -60px);
  }
  100% {
      transform: translate(20px, 20px);
  }
}

.notification.chaotic {
  animation: chaotic-move 1s infinite;
}